<!-- wp:template-part {"slug":"header","theme":"farm-cultivation","tagName":"header","className":"custom-home-header"} /-->

<!-- wp:pattern {"slug":"farm-cultivation/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:pattern {"slug":"farm-cultivation/services-section"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"farm-cultivation/about-section"} /-->

<!-- wp:pattern {"slug":"farm-cultivation/testimonial"} /-->

<!-- wp:pattern {"slug":"farm-cultivation/faq-section"} /-->

<!-- wp:pattern {"slug":"farm-cultivation/latest-news"} /-->

<!-- wp:template-part {"slug":"footer","theme":"farm-cultivation","tagName":"footer","className":"custom-footer-class"} /-->